node_modules

vanilla-app/dist/.cache
vanilla-app/dist/win-unpacked
vanilla-app/dist/win-ia32-unpacked
vanilla-app/dist/v1.2.5
vanilla-app/dist/v1.2.4
vanilla-app/dist/v1.2.3
vanilla-app/dist/v1.2.2
vanilla-app/dist/v1.2.1
    
local_data/
*.log
test/
*.bak
