@font-face {
    font-family: 'Stick';
    src: url('assets/fonts/Stick-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayBall';
    src: url('assets/fonts/Playball-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Snide hand';
    src: url('assets/fonts/snide_hand/fonts/SnideHandTT.ttf') format('truetype');
}

html {
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}

body {
    background: linear-gradient(320deg, #eb92be, #ffef79, #63c9b4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Snide hand';
}

.container {
    background-color: rgba(240,255,255,0.8);
    border: 1px solid #eb92be;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    width: 400px;
    height: 620px;
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.header {
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 45px;
    color: #4b4b4b;
    margin-top: 20px;
    margin-bottom: 20px;
}

img[alt="welcome"] {
    width: 25%;
    display: block;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav_btn {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border: 1px solid #eb92be;
    border-radius: 8px;
    cursor: pointer;
    color: #eb92be;
    padding: 0px;
    margin-top: 4px;
}

.nav_btn:hover {
    background-color: rgba(240,255,255,0.60);
    border: 2px solid #63c9b4;
    color: #63c9b4
}

.nav_btn_icon {
    width: 44px;
    height: 44px;
    background: linear-gradient(320deg, #eb92be, #ffef79, #63c9b4);
}

.text_btn {
    position: relative;
    font-family: 'Snide hand';
    width: 256px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 0;
    padding: 10px;
    background-color:azure;
    border: 2px solid #eb92be;
    border-radius: 12px;
    cursor: pointer;
}

.text_btn:hover {
    background-color: rgba(240,255,255,0.60);
    border: 2px solid #63c9b4;
}
.text_btn:hover .btn_text {
    color: #63c9b4;
}

.btn_icon {
    width: 64px;
    height: 64px;
    background: linear-gradient(320deg, #eb92be, #ffef79, #63c9b4);
    margin-right: 10px;
}

.btn_text {
    font-size: 25px;
    color: #4b4b4b;
    flex: 1;
    text-align: center;
}

.new-feature-added::before {
    content: "";
    position: absolute;
    z-index: -1;
    
    width: 400%;
    height: 400%;
    top: -150%;
    left: -150%;

    background: conic-gradient(
        from 0deg,
        #eb92be,
        #63c9b4,
        #ffef79,
        #eb92be
    );
    animation: spin 2s linear infinite;
}

.new-feature-added::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: inherit;
    background: azure; 
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.achievement_notification {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 100px;
    padding: 12px 24px;
    background: azure;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-color: #63c9b4;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
    animation: fadeInOut 3s ease-in-out;
    gap: 16px;
    cursor: pointer;
}

.avards_section {
    display: flex;
    width: 350px;
    flex-direction: column;
}

.avards_section h3 {
    font-size: 25px;
    color: #4b4b4b;
    margin: 0;
    justify-content: flex-start;
    cursor: pointer;
}

.avards_section p {
    font-size: 14px;
    color: #4b4b4b;
    margin: 0;
    justify-content: flex-start;
    cursor: pointer;
}

.achievement_icon{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.rank_3 {
    background: rgba(196, 141, 68);
}
.rank_2 {
    background: rgba(189, 198, 197);
}
.rank_1 {
    background: rgba(255, 215, 0);
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(-50%) translateY(20px); }
    10% { opacity: 1; transform: translateX(-50%) translateY(0); }
    90% { opacity: 1; transform: translateX(-50%) translateY(0); }
    100% { opacity: 0; transform: translateX(-50%) translateY(20px); }
}

#trophy {
    -webkit-mask: url('assets/icons/trophy.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/trophy.png') no-repeat center;
    mask-size: contain;
}

#play {
    -webkit-mask: url('assets/icons/icons8-play-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/icons8-play-64.png') no-repeat center;
    mask-size: contain;
}

#achieve {
    -webkit-mask: url('assets/icons/icons8-achievements-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/icons8-achievements-64.png') no-repeat center;
    mask-size: contain;
}

#settings {
    -webkit-mask: url('assets/icons/icons8-settings-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/icons8-settings-64.png') no-repeat center;
    mask-size: contain;
}

#back {
    -webkit-mask: url('assets/icons/icons8-back-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/icons8-back-64.png') no-repeat center;
    mask-size: contain;
}

#home {
    -webkit-mask: url('assets/icons/icons8-home-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/icons8-home-64.png') no-repeat center;
    mask-size: contain;
}

#info {
    -webkit-mask: url('assets/icons/square-info.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/square-info.png') no-repeat center;
    mask-size: contain;
}

#reload {
    -webkit-mask: url('assets/icons/refresh.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('assets/icons/refresh.png') no-repeat center;
    mask-size: contain;
}

@media (max-width: 1600px) {
    html{
        transform: scale(0.9);
    }
}

@media (max-width: 1400px) {
    html {
        transform: scale(0.8);
    }
}

@media (max-width: 1200px) {
    html {
        transform: scale(0.7);
    }
}

@media (max-width: 1100px) {
    html {
        transform: scale(0.6);
    }
}

@media (max-width: 1000px) {
    html {
        transform: scale(0.5);
    }
}

@media (max-width: 1600px), (max-height: 900px) {
    html {
        transform: scale(0.9);
    }
}

@media (max-width: 1400px), (max-height: 800px) {
    html {
        transform: scale(0.8);
    }
}

@media (max-width: 1200px), (max-height: 700px) {
    html {
        transform: scale(0.7);
    }
}

@media (max-width: 1100px), (max-height: 600px) {
    html {
        transform: scale(0.6);
    }
}

@media (max-width: 1000px), (max-height: 500px) {
    html {
        transform: scale(0.5);
    }
}