@use '../colors';

.achievement-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 0.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.achievement {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 90%; // 1100px
    height: 6rem; // 96px
    gap: 1rem; // 16px
    padding: 0.625rem 1.25rem; // 10px 20px
    border: 0.0625rem solid colors.$primary; // 1px
    border-radius: 0.5rem; // 8px
    background-color: colors.$fourth;
    box-sizing: border-box;
    max-width: 100%;
}

.trophies {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: end;
    width: 100%;

    .trophy {
        border-radius: 50%;
        &.gold { width: 5rem; height: 5rem; background: colors.$gold; } // 80px
        &.silver { width: 4.375rem; height: 4.375rem; background: colors.$silver; } // 70px
        &.bronze { width: 3.75rem; height: 3.75rem; background: colors.$bronze; } // 60px
        &.locked { background: colors.$locked; }
    }
}

.achievement-text {
    width: 100%;
    display: grid;
    align-items: center;
    h3 {
    font-size: 1.5625rem; // 25px
        color: colors.$text;
        margin: 0 0 4px 0;
        font-weight: 600;
        text-align: left;
    }
    p {
    font-size: 0.875rem; // 14px
        color: colors.$text_secondary;
        margin: 0;
        text-align: left;
    }
}
