$primary: #eb92be;
$secondary: #ffef79;
$third: #63c9b4;
$fourth: azure;

$background: rgba(240,255,255,0.8);
$header: #eb92beB0;
$shadow: rgba(35,35,35,0.1);
$gold_shadow: rgba(255,215,0,0.7);
$hover: rgb(232, 248, 248);

$text: #232323;
$text_secondary: #4b4b4b;
$text_rev: azure;

$gold: rgba(255, 215, 0);
$silver: rgba(189, 198, 197);
$bronze: rgba(196, 141, 68);

$locked: rgba(199, 199, 199, 0.25);

$logic: #6b9eb8;
$count: #a3c47e;
$reading: #d6a86a;
$attention: #b29dd9;
