@font-face {
    font-family: 'Stick';
    src: url('@/assets/fonts/Stick-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayBall';
    src: url('@/assets/fonts/Playball-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Snide hand';
    src: url('@/assets/fonts/SnideHand.otf') format('opentype');
}
