#trophy {
    -webkit-mask: url('@shared/assets/icons/trophy.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/trophy.png') no-repeat center;
    mask-size: contain;
}

#play {
    -webkit-mask: url('@shared/assets/icons/icons8-play-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-play-64.png') no-repeat center;
    mask-size: contain;
}

#achieve {
    -webkit-mask: url('@shared/assets/icons/icons8-achievements-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-achievements-64.png') no-repeat center;
    mask-size: contain;
}

#settings {
    -webkit-mask: url('@shared/assets/icons/icons8-settings-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-settings-64.png') no-repeat center;
    mask-size: contain;
}

#back {
    -webkit-mask: url('@shared/assets/icons/icons8-back-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-back-64.png') no-repeat center;
    mask-size: contain;
}

#home {
    -webkit-mask: url('@shared/assets/icons/icons8-home-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-home-64.png') no-repeat center;
    mask-size: contain;
}

#info {
    -webkit-mask: url('@shared/assets/icons/square-info.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/square-info.png') no-repeat center;
    mask-size: contain;
}

#question {
    -webkit-mask: url('@shared/assets/icons/icons8-question-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-question-64.png') no-repeat center;
    mask-size: contain;
}

#reload {
    -webkit-mask: url('@shared/assets/icons/refresh.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/refresh.png') no-repeat center;
    mask-size: contain;
}

#key_left {
    display: flex;
    -webkit-mask: url('@shared/assets/icons/left-key.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/left-key.png') no-repeat center;
    mask-size: contain;
}

#key_right {
    display: flex;
    -webkit-mask: url('@shared/assets/icons/right-key.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/right-key.png') no-repeat center;
    mask-size: contain;
}

#key_up {
    display: flex;
    -webkit-mask: url('@shared/assets/icons/up-key.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/up-key.png') no-repeat center;
    mask-size: contain;
}

#key_down {
    display: flex;
    -webkit-mask: url('@shared/assets/icons/down-key.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/down-key.png') no-repeat center;
    mask-size: contain;
}

#key_space {
    display: flex;
    -webkit-mask: url('@shared/assets/icons/space-key.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/space-key.png') no-repeat center;
    mask-size: contain;
}

#nav_left {
    display: flex;
    -webkit-mask: url('@shared/assets/icons/icons8-back-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-back-64.png') no-repeat center;
    mask-size: contain;
}

#nav_right {
    display: flex;
    -webkit-mask: url('@shared/assets/icons/icons8-back-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-back-64.png') no-repeat center;
    mask-size: contain;
    transform: scaleX(-1);
}

#pause {
    display: flex ;
    -webkit-mask: url('@shared/assets/icons/icons8-pause-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-pause-64.png') no-repeat center;
    mask-size: contain;
}

#continue {
    display: none;
    -webkit-mask: url('@shared/assets/icons/icons8-play-64.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/icons8-play-64.png') no-repeat center;
    mask-size: contain;
}

#warning {
    -webkit-mask: url('@shared/assets/icons/warning.png') no-repeat center;
    -webkit-mask-size: contain;
    mask: url('@shared/assets/icons/warning.png') no-repeat center;
    mask-size: contain;
}

.mistake {
    background: #4b4b4b;

    -webkit-mask-image: url('@shared/assets/icons/icons8-dot-64.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url('@shared/assets/icons/icons8-dot-64.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.mistake.cross {
    background: #eb5252;

    -webkit-mask-image: url('@shared/assets/icons/icons8-cross-64.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url('@shared/assets/icons/icons8-cross-64.png');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}