#razvivashka {
    background-image: url('@shared/assets/welcome.png');
    background-size: cover;
    background-position: center;
}

#digit_preview {
    background-image: url('@shared/assets/game_digit/digit_preview.png');
    background-size: cover;
    background-position: center;
}

#shulte_preview {
    background-image: url('@shared/assets/game_shulte/shulte_preview.png');
    background-size: cover;
    background-position: center;
}

#syllable_preview {
    background-image: url('@shared/assets/game_syllable/syllable_preview.png');
    background-size: cover;
    background-position: center;
}