@use '../colors';

.checkbox {
    width: 28px;
    height: 28px;
    border: 2px solid colors.$primary;
    border-radius: 8px;
    background: colors.$fourth;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 6px colors.$shadow;

    > div {
        width: 18px;
        height: 18px;
        border-radius: 4px;
        background: transparent;
        transition: background 0.2s;
    }

    &:hover {
        border-color: colors.$third;
        box-shadow: 0 4px 12px colors.$shadow;
    }

    .active {
        background: colors.$third;
        box-shadow: 0 0 4px colors.$shadow;
        position: relative;
    }
}