@use '../colors';

.text-input {
    font-family: inherit;
    width: 300px;
    padding: 6px 9px;
    font-size: 18px;
    color: colors.$text_secondary;
    background-color: colors.$fourth;
    border: 1px solid colors.$primary;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 4px colors.$shadow;
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
        border-color: colors.$third;
        box-shadow: 0 4px 8px colors.$shadow;
    }

    &::placeholder {
        color: #a9a9a9;
        font-style: italic;
    }
}
