.scorelist-container {
    height: 320px;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 8px;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: colors.$primary;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: colors.$background;
    }
}

.score-list {
    height: max-content;
}

.record-container {
    position: relative;
    display: flex;
    width: 210px;
    height: 70px;
    flex-direction: row;
    padding-inline: 15px;
    background-color: colors.$fourth;
    border-radius: 10px;
    box-shadow: 0 2px 15px colors.$shadow;
    margin-bottom: 6px;
    overflow: hidden;
    z-index: 0;

    &.new-score::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 400%;
        height: 400%;
        top: -150%;
        left: -150%;
        background: conic-gradient(
            from 0deg,
            colors.$primary,
            colors.$third,
            colors.$secondary,
            colors.$primary
        );
        animation: spin 2s linear infinite;
    }
    &.new-score::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: inherit;
        background: colors.$fourth;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg);} 
    100% { transform: rotate(360deg);} 
}

.score-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 130px;

    h3 {
        font-size: 20px;
        margin: 0;
        margin-top: 12px;
    }
    span {
        font-family: "Playball";
        font-size: 14px;
    }
}

.score-container-score {
    width: 80px;
    font-family: "Playball";
    font-size: 28px;
    text-align: center;
    padding-top: 15px;
}